# ==========================================================================
# This is a sample config file for the deletion script.
# ==========================================================================

# This is the directory where the outputs will be written
OUTPUT_DIR = /home/bmajoros/ahab/outputs

# These should be replaced with a list of guide sequences, and the software
# should automatically find the cut site coordinates in the genome, based
# on the guide sequences
FIRST_CUT_SITE = 31791998
SECOND_CUT_SITE = 31793609

# Note that this chromosome/reference name is CASE SENSITIVE!  It must match
# the case in the genome/reference FASTA file
TARGET_CHROM = chrX

# Whether to deuplicate reads based on their coordinates
DEDUPLICATE = True

# HSPs (local alignments) with %identity smaller than this value will be
# discarded
MIN_IDENTITY = 0.9

# When a read is annotated with multiple HSPs and they map to the same
# reference sequence but with an excessively large gap, the entire read will
# be discarded
MAX_REF_GAP = 10000

# The maximum unaligned length between two HSPs on a read, in a deletion
MAX_READ_GAP = 20

# This is the ENCODE alignability map
ALIGNABILITY = /data/gersbachlab/bill/ahab/wgEncodeCrgMapabilityAlign24mer.bigWig

# Any read with an HSP having a minimum alignability less than this value
# will be discarded
MIN_ALIGNABILITY = 0.2

# Max distance of left or right anchor from the nearest cut site
MAX_ANCHOR_DISTANCE = 50

# Max number of bases the anchor may go past the cut site into the deletion
# region (due to alignment errors)
# THIS IS NOW BEING HANDLED BY MAX_ANCHOR_DISTANCE
#MAX_ANCHOR_OVERLAP = 3
