
# This is a sample config file for the deletions script.

# This is the list of target sites
TARGET_SITES = /data/gersbachlab/bill/ahab/target-sites.txt

# Whether to deuplicate reads based on their coordinates
DEDUPLICATE = True

# HSPs (local alignments) with %identity smaller than this value will be
# discarded
MIN_IDENTITY = 0.9

# When a read is annotated with multiple HSPs and they map to the same
# reference sequence but with an excessively large gap, the entire read will
# be discarded
MAX_REF_GAP = 10000

# This is the ENCODE alignability map
ALIGNABILITY = /data/gersbachlab/bill/ahab/wgEncodeCrgMapabilityAlign24mer.bigWig
